body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background3.png'); /* Your background image URL */
    background-size: cover;
    background-position: center;
    color: rgb(19, 6, 6); /* Text color on the background image */
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* Text shadow for better visibility */
    text-align: center; /* Center the h1 horizontally */
    position: absolute; /* Position the h1 absolutely */
    top: 20px; /* Position the h1 20px from the top of the viewport */
    left: 50%; /* Position the h1 50% from the left of the viewport */
    transform: translateX(-50%); /* Translate the h1 back by half of its width */
}

.container {
    text-align: left; /* Align text to the left */
    padding-top: 120px; /* Adjust this value for positioning */
}

p {
    font-size: 1.6em;
    text-shadow: 4px 2px 4px rgba(131, 53, 53, 0.1); /* Text shadow for better visibility */
    margin-left: 20px; /* Adjust this value for positioning */
    color: #011a33
}
